body{
    background-image: url("travel.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    padding: 20px;
}

.center{
    font-size: 15px;
    text-align: center;
    color: white;
}