#coverphoto{
    background-image: url("travel.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-style: solid;
    height: 500px;
    margin-top: -100px;
    margin-left: -200px;
    margin-right: -110px;
}

.container{
    text-align: center;
    font-size: 20px;
    padding: 80px;
    color: white;
}

.containers{
    font-size: 19px;
    text-align: center;
    padding: 20px;
    color: black;
}

#milk{
    margin-top: 220px;
}

#choco{
    margin-left: -60px;
}

nav p{
    font-family: Century Gothic ;
    color: whitesmoke;
    font-size: 26px;
    line-height: 20px;
    float: left;
    padding: 0px 30px;
}

nav span{
    color: mediumslateblue;
}

nav ul{
    float: right;
    font-size: 20px;
    padding: 0px 60px;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: fantasy;
    color: whitesmoke;
    font-size: 15px;
    padding: 30px 20px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: black;
    padding: 15px;
}
nav ul li ul li a {
    width: 130px;
    border-radius:0px 0px 4px 4px;
}

nav ul li a:hover {
    color: #8A2BE2;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a {
    padding: 7px 14px;
}
nav ul li ul li a:hover{
    background-color: bisque;
}

