*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, SansSerif;
}
body{
    background-image: url("dark.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    width: 1200px;
    height: 600px;
    box-shadow: 0 0 rgba(255,255,255,1);
    background-image: url("dark.jpeg");
    background-position: center;
    background-size: cover;

}

nav{
    display: flex;
    padding: 30px 10%;
}

.logo {
    font-size: 22px;
    color: white;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    float: left;
    font-size: 20px;
    padding: 0px 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.1s ease-out;
}

nav ul li:hover{
    border-bottom: 2px solid #fff;

}

nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7px;
    transition: 0.1s ease;
}

img:hover {
    border: 2px solid;
}
h3 {
    color: #fff;
    margin: 80px 110px -25px;
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
}

h1 {
    color: white;
    margin: 0 110px;
    font-family:  Verdana, Geneva, Tahoma, SansSerif;
    font-size: 100px;
    letter-spacing: 10px;
    opacity: 0.4;

    background-image: linear-gradient(45deg, #000, #fff, #000, #fff, #000, #fff);
    background-size: 180px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: bisque;
    padding: 50px 20px;
    margin-right: 20px;
}

nav ul li a:hover {
    color: crimson;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a {
   padding: 20px 20px;
}
nav ul li ul li a:hover{
   background-color: bisque;
}




